{% extends "template.html" %}
{% block content %}

  <header id="hero" class="hero">
      <a href="{{ url_for('index') }}" class="button-8 w-button">Back to Homepage</a>

<br><br><br>
    <div class="flex-container w-container">
      <div>
        <form method="post" name="expense">
        {{ form.csrf_token() }}
            <p>
            Description:
            {{ form.description() }}
            </p>
             <p>
            Category:
            {{ form.category() }}
            </p>
             <p>
            Cost:
            {{ form.cost() }}
            </p>
            <p>
            Currency:
            {{ form.currency() }}
            </p>
             <p>
            Date:
            {{ form.date() }}
            </p>
        <input value="Submit" class="button-8 w-button" type="submit">
    </form>
      </div>
    </div>

  </header>

{% endblock %}